<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <main class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="col-md-12 main">
        <h2>Latest Mars News</h2>
        <hr>
        <section id="figure">
          <h3>Featured Mars Image</h3>
          <img src="{{ smars.featured_image_url }}">
          <h4>{{ smars.title }}</h4>
          <p>{{ smars.parg }}</p>
        </section>
      </div>
    </div>
    <div class="col-md-9">
      <div class="col-md-9">
         <aside id="contact-info">
           <h2>Visualization</h2>
           <hr> 
           <section class="center">
             <div class="row">
                 <div class="col-sm">
                   <h3>{{ smars.hemisphere_image_urls[0]['title'] }}</h3>
                   <img src="{{ smars.hemisphere_image_urls[0]['img_url'] }}">
                   <h3>{{ smars.hemisphere_image_urls[1]['title'] }}</h3>
                   <img src="{{ smars.hemisphere_image_urls[1]['img_url'] }}">
               </div>
               <div class="col-sm">
                 <h3>{{ smars.hemisphere_image_urls[2]['title'] }}</h3>
                 <img src="{{ smars.hemisphere_image_urls[2]['img_url'] }}">
                 <h3>{{ smars.hemisphere_image_urls[3]['title'] }}</h3>
                  <img src="{{ smars.hemisphere_image_urls[3]['img_url'] }}">
                 </div>
             </div>
           </section>
         </aside>
       </div>
     </div>
    <div class="col-md-4">
      <div class="col-md-12 sidebar">
        <aside id="contact-info">
          <h2>Mars Facts</h2>
          <hr>
          <div class="table-responsive-xl">
            <table class="table">
              {{ smars.comph | safe}} 
            </table>
          </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
        </aside>
      </div>
    </div>
  </main>
</body>

